@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('../../public/admin/plugins/fontawesome-free/css/all.min.css');
@import url('../../public/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css');
@import url('../../public/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css');
@import url('../../public/admin/plugins/jqvmap/jqvmap.min.css');
@import url('../../public/admin/dist/css/adminlte.min.css');
@import url('../../public/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css');
@import url('../../public/admin/plugins/daterangepicker/daterangepicker.css');
@import url('../../public/admin/plugins/summernote/summernote-bs4.min.css');
@import url('../../public/admin/dist/css/toastr.min.css');
@import url('../../public/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css');
@import url('../../public/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css');
@import url('../../public/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.layout-fixed .main-sidebar{
    background-color: white !important;
}

.dark-mode .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .dark-mode .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #0F3D5F !important;
    color: white !important;
}
.dark-mode .nav-pills .nav-link{
    color: #414141 !important;
}
.nav-sidebar .nav-item>.nav-link .right{
    display: none !important;
}
.navbar-dark .navbar-nav .nav-link{
    color: #000000 !important;
}
.dark-mode .navbar-dark{
    background-color: white !important;
    border: none !important;
}
[class*=sidebar-dark-] .sidebar a{
    color: #414141 !important;
}
.dark-mode .content-wrapper{
    background-color: #f5f5f5 !important;
}
.dark-mode .main-footer{
background-color: #f5f5f5 !important;
border: none !important;
}
.dark-mode .breadcrumb-item+.breadcrumb-item::before, .dark-mode .breadcrumb-item.active{
    color: #414141 !important;
}
.content-header h1{
    color: #414141 !important;
}
.int{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bg_int{
    background-color: #eaedf0 !important;
}
.bg_int h3{
    font-weight: 700;
    font-size: 24px;
    color: #060606;
    margin-top: -8px;
}
.small-box{
    box-shadow: none !important;
}
.int p{
    color: #060606;
    font-size: 16px;
    font-family: inter !important;
    font-weight: 400;
    margin-top: 15px;
}
.bg_int1{
    background-color: #f3e9e7 !important;
}
.bg_int2{
    background-color: #f0e8f0 !important;
}
.bg_int3{
    background-color: #e2ebf0 !important;
}
.main_card{
    border: 1px solid #00000033;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0px;
}
.user_card{
    background-color: #ffffff;
    /* max-width: 294px; */
    /* width: 300px; */
    width: 100% !important;
    padding: 20px 10px;
    border-radius: 10px;
}
.new_user h3{
    color: #1B2533;
    font-weight: 600;
    font-size: 16px;
    font-family: inter !important;
}
.new_user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new_user p{
    color: #1B2533;
    font-weight: 500;
    font-size: 12px;
    font-family: inter !important;
}
.main_card{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.main_left{
    display: flex;
    align-items: center;
}
.main_content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.main_content .sp{
    color: #1B2533;
    font-weight: 500;
    font-size: 12px;
}
.main_content .sp1{
    color: #1B2533;
    font-weight: 400;
    font-size: 12px;
    font-family: inter !important;
    opacity: 50%;
}
.mik{
    margin: 0px 10px !important;
    display: flex;
    flex-direction: column;
}
.sameing1{
    background-color: #ffffff;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}
.sameing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.select_this{
    width: 158px;
    max-width: 100% !important;
    border-radius: 27px;
    border: 1px solid #000000 !important;
    height: 54px;
    max-height: 100%;
    background-color: white !important;
    color: #293240 !important;
    font-weight: 400;
    font-size: 18px;
    padding: 0px 10px;
    outline: none !important;
}
.select_week{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-header{
    background-color: #f3f3f3;
}
.cd_tit{
    color: #1B2533;
    font-weight: 600;
    font-size: 16px;
    font-family: inter !important;
}
.canting{
    background-color: white !important;
    color: #40444B !important;
}
.dark-mode{
    background-color: #f5f5f5 !important;
}
.div.dataTables_wrapper div.dataTables_filter input{
    background-color: transparent !important;
    width: 117px !important;
    height: 44px !important;
    border-radius: 27px !important;
    border: 1px solid #000000 !important;
}
.dark-mode .custom-control-label::before, .dark-mode .custom-file-label, .dark-mode .custom-file-label::after, .dark-mode .custom-select, .dark-mode .form-control:not(.form-control-navbar):not(.form-control-sidebar), .dark-mode .input-group-text{
  background-color: transparent !important;
  color: #293240 !important;
}
.previous{
    background-color: white !important;
}
.pagination li{
    background-color: white !important;
}
.paginate_button{
    background-color: white !important;
}
.table-striped tbody tr:nth-of-type(2n+1){
    background-color: white !important;
}
.dark-mode .page-item:not(.active) .page-link{
    background-color: white !important;
}
.table:not(.table-dark){
    width: 100% !important;
}
.card_hand{
    background-color: #f3f3f3 !important;
}
.card_tit{
    color: #414141;
}
.sedi{
    background-color: white !important;
}
.role_name{
    color: #414141 !important;
}
.cv1{
    background-color: transparent !important;
}
.simi{
    background-color: #ffffff !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}
.simi h2{
    color: #414141;
}
.sd{
    color: #1B2533;
    font-weight: 600;
    font-size: 24px !important;
    font-family: inter !important;
}
.simi p{
    color: #414141;
}
.change_avt{
    background-color: #0F3D5F;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    outline: none !important;
}
.img_user{
    margin-top: 20px !important;
}
.img_user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}
.simi label{
    color: #414141;
}
.suy{
  margin-top: -12px;
}
.take{
    background-color: white !important;
    border-radius: 10px;
    width: 100% !important;
    /* height: 500px !important; */
}

.btn_tn{
    background-color: #E5E4EC !important;
    outline: none !important;
}

/* ===================this=================== */
.crazy-cms-content{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.crazy-cms-icon-name1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.crazy-cms-icon-name{
    display: flex;
    gap: 10px;
}
.crazy-cms-icon-name p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.crazy-cms-sidebar{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: absolute;
    right: 15px;
    background-color: #ffffff;
}
.crazy-cms-settings{
    width: 250px;
    border: 1px solid #b5b5b5;
    border-radius: 15px;
    padding: 10px;
    display: none;
}
.crazy-cms-plans:hover{
    background-color: #EBF9F7;
    border-radius: 6px;
}

.crazy-cms-plans{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    
}
.crazy-cms-refer span:hover{
    color: white;
}
.crazy-cms-refer span{
    font-size: 18px;
    font-weight: 400;
    color: #160647;
}
.crazy-cms-plans:hover span{
   color: #2C868F !important;
}
.crazy-cms-plans:hover svg path{
    fill: #2C868F !important;
}

.crazy-cms-settings.show{
    display: block;
}
.nick{
    color: #0F141C;
    font-weight: 400;
    font-size: 14px;
    font-family: inter !important;
    margin-top: 3px;
}
.jkll{
    position: absolute;
    width: 100%;
    top: 6px;
    opacity: 0;
}
.tyh{
    cursor: pointer !important;
}
.tent{
    position: relative;
}
.view_dot{
    position: absolute;
    top: 40%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 127px;
    height: 34px;
    border-radius: 3px;
    background-color: white;
    outline: none;
    border: none;
    display: none;
    z-index: 100;
    color: #5E5C66;
    font-weight: 500;
    font-size: 14px;
    transition: .5s;
}
.tent:hover .ekka{
    opacity: 0.4;
    transition: .5s !important;
}
.tent:hover .view_dot{
   display: block;
   transition: .5s !important;
}
.bs_btn{
   position: absolute;
   right: 10px;
   top: 10px;
   z-index: 100;
   display: none;
}
.bs_btn img{
    cursor: pointer;
}
.tent:hover .bs_btn{
    display: block !important;
}
.dfl{
    margin-left: 6px;
}
/* ======this end========================== */

@media only screen and (max-width:850px){
    .take{
        margin-top: 20px !important;
    }
    .int p{
        font-size: 11px !important; 
    }
}

@media only screen and (max-width:750px){
    #About_us .row2 .inner_section{
        margin: 0px 20px !important;
    }
}

@media only screen and (max-width:450px){
    .small-box{
        height: 165px !important;
    }
}