
*{
    font-family: inter !important;
}
#login-page1{
    display: block;
    margin: auto;
    height: 100vh;
    width: 100%;
}
.ssk{
    height: auto !important;
}

.login-box{
    width: 100% !important;
}
.login-box .card, .register-box .card{
    border: none !important;
    background-color: transparent !important;
}
.input_gp11{
    display: flex !important;
    /* align-items: center !important; */
    flex-direction: column !important;
    width: 100% !important;
   
}
.input_gp11 input{
    width: 100% !important;
    border-radius: 5px !important;
}
.input_gp11 label{
    text-align: left !important;
}
.login-box .card{
   box-shadow: none !important;
}
.card_header11{
    border-bottom: none !important;
}
#login-page1 .login-page-banner{
    height: 1vh;
}
.ichk_pm{
    display: flex !important;
    align-items: center !important;
}

#login-page1 .login-page-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100vh ;
}
#login-page1 .login-page-left-content{
    width: 50%;
}
#login-page1 .login-page-left-content h1{
    font-size: 44px;
   font-weight: 400;
   line-height: 44px;
   text-align: start;
   padding-left: 76px;
}
.ssk1{
    height: auto !important;
}
#login-page1 .login-page-left-content span{
   font-weight: 600;
   color: #0F3D5F;
}
#login-page1 .login-page-left-content img{
    max-width: 370px;
    width: 100%;
    padding-top: 40px;
}
#login-page1 .login-page-right-form{
    width: 50%;
}
#login-page1 .login-right-form{
    background-color: #FAF8FD;
    padding: 90px 125px;
    height: 100vh !important;
    display: flex;
    align-items: center;
    /* width: 50%; */
}
#login-page1 .login-right-form img{
    max-width: 389px;
    width: 100%;
    cursor: pointer;
}
#login-page1 .login-right-form h2{
    font-size: 34px;
    font-weight: 600;
    line-height: 41.15px;
    padding: 40px;
    color: #0F3D5F;
}
#login-page1 .login-right-form-main form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}
#login-page1 .login-right-form-main input{
    height: 40px;
    border-style: none;
    border-radius: 6px;
    padding: 10px;
    max-width: 500px;
    width: 100%;
}
label{
    font-size: 18px;
}
#login-page1 .login-right-form-main p{
    font-size: 18px;
    text-align: end;
    color: #5E6278;
    cursor: pointer;
    padding-top: 10px;
}
#login-page1 .login-button{
    padding-top: 40px;
}
#login-page1 .register-right-form{
    height: 120vh !important;
}
#login-page1 .login-button button{
    width: 280px;
    padding: 20px;
    cursor: pointer;
    background-color: #0F3D5F;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    border-style: none;
    border-radius: 6px;
}
#login-page1 .login-button p{
    padding-top: 20px;
    font-size: 18px;
}
#login-page1 .login-button span{
    font-weight: 600;
    cursor: pointer;
}

@media(max-width: 1023px){
    #login-page1 .login-page-left-content h1{
        font-size: 36px;
    }
    #login-page1 .login-page-left-content img{
        max-width: 330px;
        width: 100%;
    }
    #login-page1 .login-right-form{
        padding: 50px 60px;
    }
    #login-page1 .login-right-form img{
        max-width: 300px;
        width: 100%;
    }

}
@media(max-width: 767px){
    #login-page1 .login-page-left-content{
        display: none;
    }
    #login-page1 .login-page-content{
        flex-direction: column;   
    }
    #login-page1 .login-page-left-content h1{
        text-align: center;
        padding-left: 0px;
        font-size: 30px;
        line-height: 38px;
    }
    #login-page1 .login-page-right-form{
        width: 100%;
    }
    #login-page1 .login-right-form-main form{
        text-align: center;
    }
    #login-page1 .login-right-form-main input{
        max-width: 100%;
        width: 100%;
    }
    #login-page1 .login-right-form img{
        max-width: 100%;
        width: 100%;
    }
    #login-page1 .login-page-left-content img{
        max-width: 100%;
        width: 100%;
        padding-top: 25px;
    }
}
@media only screen and (max-width: 500px){
    #login-page1 .login-right-form{
        padding: 50px 10px !important;
    }
}
@media (max-width: 365px){
    #login-page1 .login-button button{
        width: 180px;
        padding: 15px;
    }
    #login-page1 .login-page-left-content h1{
        font-size: 25px;
    }
    #login-page1 .login-button p{
        font-size: 16px;
    }
    #login-page1 .login-right-form h2{
        padding: 20px;
    }
}